In [1]:
salarios = c(2000,1000,4000, 5500)

In [2]:
mean(salarios)

[1] 3125

In [3]:
median(salarios)

[1] 3000

In [4]:
quantile(salarios)

  0%  25%  50%  75% 100%
1000 1750 3000 4375 5500

In [6]:
sd(salarios) # desvio padr√£o

[1] 2015.564

In [7]:
summary(salarios)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1000    1750    3000    3125    4375    5500